html{
  font-family: century-gothic, sans-serif;
}

h1{
  color:white;
  position:right;
  margin:0;
  padding-top: 10.8px;
  padding-left: 0.5rem;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.2);

}

.titleBar {
  background-color: rgb(36, 50, 71);
  height:60px;
}

.hedging{
  height: 4em;
  border: 1px solid white;
  margin-right:25rem;
  margin-top:2rem;
  margin-bottom:2rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(22, 177, 219,0.5);
  box-shadow: 5px -3px rgb(204, 218, 222,0.4);

}

#hedgingMonitor{
  padding-left: 0.5rem;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);


}

#input,input{
  height:3rem;
  width: 20rem;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 20px;
  color: rgb(36, 50, 71);
  font-weight: 500;
}


input{
  border-radius: 0.2rem;
  background-color: rgb(230, 239, 242,0.5);
  border-color: rgb(230, 239, 242,0.8);
  border-width: 1px;
}

/* button {
  margin-top: 3rem;
  width:15rem;
  border-radius: 0.5rem;
  border-color: whitesmoke;
  box-shadow: 5px -3px rgb(204, 218, 222,0.4);
} */

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 15rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button #effect {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color:white;

}

.button #effect:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover #effect {
  padding-right: 25px;
}

.button:hover #effect:after {
  opacity: 1;
  right: 0;
}

table {
  table-layout: auto;
  border-collapse:collapse;
  border: 3px solid white;
  width:50%;
  margin-top:30px;
  margin-left:30px;
}

thead,tfoot  {
  color:white;
  background-color: #427fef;
  text-align: left;
  height:35px;
  font-size: 50;

}

tbody,tr {
  border:1px solid #c4dcf3;
  height:35px;
  font-size: 50;

}